USE [master]
GO
/****** Object:  Database [KoperasiTenteraDb]    Script Date: 2/26/2026 5:32:03 AM ******/
CREATE DATABASE [KoperasiTenteraDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KoperasiTenteraDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\KoperasiTenteraDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KoperasiTenteraDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\KoperasiTenteraDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KoperasiTenteraDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KoperasiTenteraDb]
GO
/****** Object:  Table [dbo].[OtpLogs]    Script Date: 2/26/2026 5:32:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OtpCode] [nvarchar](6) NULL,
	[OtpType] [nvarchar](20) NULL,
	[IsUsed] [bit] NULL,
	[ExpiryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/26/2026 5:32:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ICNumber] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[MobileNumber] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[PinHash] [nvarchar](max) NULL,
	[IsPrivacyAccepted] [bit] NULL,
	[IsBiometricEnabled] [bit] NULL,
	[UserType] [nvarchar](20) NULL,
	[RegistrationStep] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OtpLogs] ON 

INSERT [dbo].[OtpLogs] ([Id], [UserId], [OtpCode], [OtpType], [IsUsed], [ExpiryDate]) VALUES (1, 1, N'1234', N'Mobile', 1, CAST(N'2026-02-25T19:32:05.443' AS DateTime))
INSERT [dbo].[OtpLogs] ([Id], [UserId], [OtpCode], [OtpType], [IsUsed], [ExpiryDate]) VALUES (2, 2, N'1234', N'Mobile', 1, CAST(N'2026-02-25T19:42:20.547' AS DateTime))
INSERT [dbo].[OtpLogs] ([Id], [UserId], [OtpCode], [OtpType], [IsUsed], [ExpiryDate]) VALUES (3, 3, N'1234', N'Mobile', 1, CAST(N'2026-02-26T04:30:41.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[OtpLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [ICNumber], [FullName], [MobileNumber], [EmailAddress], [PinHash], [IsPrivacyAccepted], [IsBiometricEnabled], [UserType], [RegistrationStep], [CreatedAt]) VALUES (1, N'123456789012', N'Mariam Rashid', N'+60183306875', N'mariam@email.com', N'112233', 1, 0, N'New', 4, CAST(N'2026-02-25T19:24:31.943' AS DateTime))
INSERT [dbo].[Users] ([Id], [ICNumber], [FullName], [MobileNumber], [EmailAddress], [PinHash], [IsPrivacyAccepted], [IsBiometricEnabled], [UserType], [RegistrationStep], [CreatedAt]) VALUES (2, N'999888777666', N'Existing User', N'+601122334455', N'existing@email.com', N'112233', 1, 0, N'Migrated', 4, CAST(N'2026-02-25T19:34:56.307' AS DateTime))
INSERT [dbo].[Users] ([Id], [ICNumber], [FullName], [MobileNumber], [EmailAddress], [PinHash], [IsPrivacyAccepted], [IsBiometricEnabled], [UserType], [RegistrationStep], [CreatedAt]) VALUES (3, N'900101015566', N'Adnan', N'0123456789', N'a@test.com', N'112233', 1, 0, N'New', 4, CAST(N'2026-02-26T04:24:07.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__17A5923BAA46A0BD]    Script Date: 2/26/2026 5:32:04 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[ICNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OtpLogs] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsPrivacyAccepted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBiometricEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [RegistrationStep]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OtpLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
USE [master]
GO
